<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
        include ../static/style.css
</head>
<body>
    <nav>
        <ul>
            <li><a href="">Hone</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
    <span>#{message}</span>
    <div class="container">

        <h2>This Gym discount form please fill hurry up</h2>
        <form action="/" method="post" id="bform">
            <input type="text" name="name" id="name" placeholder="Enter your name please">
            <input type="number" name="age" id="age" placeholder="Enter your age please">
            <input type="number" name="phone" id="phone" placeholder="Enter your phone please">
            <textarea name="address" id="address" cols="10" rows="10" placeholder="Enter your address here "></textarea>
            <textarea name="yourself" id="yourself" cols="10" rows="10" placeholder="Enter you yourself"></textarea>
            <button class="btn">Submit</button>
        </form>

        <!-- <p>
            | #{content}  pub me aise initilizse karte hai varaiable jo  
        </p> -->
    </div>
</body>
</html>