* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar ul {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    /* border-bottom: 2px solid  rgb(33, 205, 33);; */
}

#navbar ul::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(101, 219, 101);
    z-index: -1;
    /* opacity: 0.8; */
}

#navbar ul li {
    padding: 23px 12px;
    list-style-type: none;
    border: 1px solid rgb(72, 239, 72);
    border-radius: 7px;
    /* margin: 0px 2px; */
    padding: 23px;
}

#navbar ul li a {
    text-decoration: none;
    color: black;
    animation: mymove 10s infinite;
    transition: all 0.1s ease-in;
    padding: 12px;
    border-radius: 12px;
}

#navbar ul li a:hover {
    background-color: black;
    color: white;
    transition: all .5s ease-in-out;
    border-bottom: 2.5px solid red;

}

/* main header */
.per-info {
    display: flex;
    flex-direction: row;
    flex-basis: 12px;
    justify-content: center;
    align-items: center;
    /* margin-top: 200px; */
    height: 350px;
    background-color: rgb(101, 219, 101);

}


#info {
    width: 40%;
}

#info h2 {
    font-size: 34px;
    text-transform: capitalize;
}

#per-image img {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 12px;
    background: transparent;
}

/* animation effect */

/* utitlity class  */
.main-section {
    margin: 12px;
}

.center {
    text-align: center;
}

#btn {
    padding: 6px;
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
    background: transparent;
}

#info button {
    font-size: 23px;
    color: black;
}

#info button:hover {
    background-color: rgb(101, 219, 101);
    color: white;
    border: 1px solid white;
    transition: all 2s ease-in-out;
}

/* about section  */
.content-personal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 0px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    /* height: 100%; */
    max-height: 80%;
    width: 70vw;
    animation: mymove 6s infinite;

}
.content-personal h2::after{
    display: block;
    content: "";
    width: 50%;
    height: 2px;
    background-color: black;
    position: relative;
    margin: 1px auto;
}
.content-personal h2 {
    color: rgb(101, 219, 101);
    font-weight: bold;
    font-size: 2em;
    padding: 12px 0px;
}

.content-personal button {
    margin: 13px;
    padding: 15px;
    width: 43%;
    transition: all 2s ease-in-out;
}

.download-resume::before {
    content: "";
    height: 80%;
    width: 100%;
    position: absolute;
    background: url('../img/About-bg.jpg') no-repeat center center/cover;
    z-index: -1;
    opacity: 0.8;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 22px;
}

.skills .item {
    padding: 12px;
}

/* education and experience  */
.ed-ex{
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
    /* padding: 12px; */
    border: 1px solid yellow;
    color: black;

    /* background-color: aqua; */
}
.ed-ex::before{
    content: "";
    height: 100%;
    width: 100%;
    background: url('../img/edu-experi.jpg') no-repeat center center/cover;
    z-index: 1;
    opacity: 0.5;
    filter: invert(100%);
    position: absolute;
    /* background-color: rgb(183, 228, 183); */

}
.education{
    margin: 40px;
}
.experience{
    margin: 40px;
}
.experience-container .item-experience, .education-container .item-education{
    /* background-color:  rgb(10, 183, 10);
    border: 2px solid green; */
   background-color: white;
}
.education-container{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    padding: 12px;
    margin: 40px;
}
.experience-container{
    margin: 40px;
    border: 1px solid black;
    padding: 12px;
    display: flex;
    flex-direction: row;
}
/* animation */
@keyframes mymove {
    0% {
        border-bottom: 0.2px solid rgb(95, 97, 60);
        border-top: 0.2px solid rgb(255, 0, 255);
        border-left: 0.2px solid rgb(0, 64, 255);
        border-right: 0.2px solid rgb(255, 128, 0);
    }

    25% {
        border-bottom: 0.2px solid rgb(255, 128, 0);
        border-top: 0.2px solid rgb(0, 64, 255);
        border-left: 0.2px solid rgb(255, 0, 255);
        border-right: 0.2px solid rgb(42, 198, 219);
    }

    50% {
        border-bottom: 0.2px solid rgb(255, 0, 255);
        border-top: 0.2px solid rgb(14, 239, 141);
        border-left: 0.2px solid rgb(255, 128, 0);
        border-right: 0.2px solid rgb(0, 64, 255);
    }

    75% {
        border-bottom: 0.2px solid rgb(0, 64, 255);
        border-top: 0.2px solid rgb(255, 128, 0);
        border-left: 0.2px solid rgb(90, 209, 157);
        border-right: 0.2px solid rgb(255, 0, 255);
    }

    100% {
        border-bottom: 0.2px solid rgb(144, 76, 8);
        border-top: 0.2px solid rgb(11, 129, 5);
        border-left: 0.2px solid rgb(221, 40, 221);
        border-right: 0.2px solid rgb(137, 206, 176);
    }

}

/* utility class */
.imp {
    font-weight: bold;
    font-size: 1em;
}

.btn {
    color: white;
    padding: 8px;
    margin: 5px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    animation: mymove 5s infinite;
    background-color: rgb(101, 219, 101);
    ;
}

.btn:hover {
    background-color: transparent;
    color: black;
}